@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@600&family=Montserrat:wght@300&display=swap');

html {
    scroll-behavior:smooth;         /*References to other parts of site are smoothed*/
}

body {
    margin:0;
    background-image: url("Bckgrnd.jpg");
    background-attachment:fixed;
    background-size:1920px 1080px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
}

#navbar {                           /*Navigationbar settings*/
    background: #F2F2F2;
    min-width: 500px;
    margin-top: 0;
    display: flex;
    border-radius: 0 0.2em 0.2em 0;     
    margin-right: 60px;
    top: 0px;
    transition: 0.3s ease;
    position: fixed;
    padding: 20px 10px;
    width: 100%;
    font-size: 30px;
    text-decoration: none;
    box-shadow: #242540 1px 1px 8px;
    min-width: 900px;
}

#navbar_choice a {                  /*Selection on navbar*/
    text-decoration: none;
    color: #4B69A6;
    padding: 1em;
    font-family: 'Dosis', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

#navbar_choice a:hover {            /*Current selection on navbar*/
    background-color: #4B69A6;
    color: #F2F2F2;
    transition: 0.4s ease;
    font-weight: 900;
    padding-bottom: 20px;
}

#navbar a.active {                  /*Current active displayed site on navbar*/
    color: #ffffff;
    font-weight: 900;
    cursor: default;
    border-style: solid;
    border-bottom: none;
    background-color: #4B69A6;
}

#navbar #logo {                     /*Settings for logo top left corner on navbar*/
    font-weight: bold;
    transition: 0.3s;
    text-decoration: none;
    color: rgb(27, 85, 85);
    padding: 0.05em 1em 0 0;
    height: 0.9em;
    position: relative;
    left: 0.3em;
}

#navbar #logo:hover {               /*Increases logo while hovering*/
    transition: 1.5s ease;
    height: 100px;
}

section {                           /*Section settings*/
    margin-top: 23em;
}

p {                                 /*Paragraph settings*/
    color: #242540;
    font-size: 22px;
    background: #F2F2F2;
    padding: 3em 20% 0 20%;
    text-align: justify;
    min-width: 900px;
    height: 400px;
    margin: 2px;    
    margin-left: 0;
    margin-right: 0;
}

h1 {                                /*First displayed title*/
    padding: 5em 0 0 1em;
    font-size:70px;
    color: #F2F2F2;
    font-family: 'Dosis', sans-serif;
    font-family: 'Montserrat', sans-serif;
}

h2 {                                /* smaller titles*/
    padding: 0em 0 0 10%;
    font-size:40px;
    color: #F2F2F2;
    font-family: 'Dosis', sans-serif;
    font-family: 'Montserrat', sans-serif;
}

.pic {                              /* Image settings*/
    float: right;
    margin: 0 0 0 3em;
    height: 300px;
    border-radius: 0.3em;
    transition:transform 0.3s ease;
    box-shadow: #242540 3px 3px 4px;
    
}

.pic:hover {                        /*Image hover: small delay before enlargment*/
    -webkit-transform: scale(2);
    transition-delay: 0.5s;
    transform: scale(150%);
}

.link {                             /*color settings for hyperlinks*/
    color: rgba(102, 52, 52, 0.904);
    text-decoration: none;
}

.link:hover {                       /*color settings for hovering over hyperlinks*/
    color: #477a40;
}

.top-padding {                      /*no space between p and section*/
    margin: 0;
}



footer {
    background-color: #F2F2F2;    /*Footer settings*/
}

.display_code {                     /*creates the box in which the codes are put in*/
    min-width: 500px;
    max-width: 1500px;
    height: 600px;
    overflow:scroll;
    font-size: 16px;
    background: #F2F2F2;
    padding: 3em 0% 0 0%;
    margin: 2px 10% 2px 10%;
}

.pic_proj {                         /* pictures on the project tab*/
    margin-left: auto;
    margin-right: auto;
    display: block;
    height: 350px;
    border-radius: 0.3em;
    transition:transform 0.3s ease;
    box-shadow: #242540 3px 3px 4px;
}

.pic_proj:hover {                        /*Image hover: small delay before enlargment*/
    -webkit-transform: scale(2);
    transition-delay: 0.5s;
    transform: scale(150%);
}

.proj_after {                            /* responsible for projects after the first one, goes for every following project*/
    margin-top: 10px;
    margin-left: 0;
    margin-right: 0;
}

.proj_before {                           /* responsible for the first project*/
    padding-bottom: 100px;
    margin-left: 0;
    margin-right: 0;
}
